.workContainer {
    display: flex;
    margin-left: 5vw;
    width: 100%;
}

.workContainer p {
    font-size: 1.5vw;
}

.cbe {
    margin-bottom: 6.5vw;
}

.insa {
    margin-bottom: 3.5vw;
}


.workright {
    width: 65.0%;
    margin-right: 5.5vw;
}

.dev,
.it,
.csr {
    text-align: justify;
}

@media (max-width: 768px) {
    .insa {
        margin-top: 23vw;
    }

    .ison {
        margin-top: 27.5vw;
    }


    .amn {
        margin-top: 20vw;
    }

    .workright {
        margin-right: 8vw;
    }

    .workContainer p {
        font-size: 3.5vw;
    }
}